@font-face {
font-family: "Futura Lt BT Light";
font-style: normal;
font-weight: normal;
src: local('../fonts/futura_lt_bt_light') format('woff');
}

 @font-face{
 font-family: 'bebasregular';
    src: url('../fonts/BEBAS___-webfont.eot');
    src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BEBAS___-webfont.woff') format('woff'),
         url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('../fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
	font-family:"Futura Lt BT Light";
	font-size: 1.5em;
	width: 80%;
	margin: 0 auto;
	font-style: normal;
	font-weight: normal;

}

header {
	margin-bottom: 2em;
}

header em {
	font-family:"Futura Lt BT Light";
	font-size: .6em;
	display:block;
	text-align: center;
	color: black;
	letter-spacing: .1em;
	margin-top: .3em;
	font-style: normal;
	font-weight: bold;
}

.container {
	padding: 20px;
	max-width: 960px;
}

.logo a{
	font-family: bebasregular;
	font-size: 2em;
	text-align: center;
	display: block;
	text-decoration: none;
	color: black;
	letter-spacing: .1em;
	margin-top: .5em;
}

.info a{
	line-height: 70px;
	margin-left: 2%;
}

.info p{
	font-weight: bold;
}


.objectives{
	height: 350px;
	padding: 1em;
	background: rgb(232,236,236);
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	text-indent: 1em;
}


h3{
	font-family: bebasregular;
	text-transform: lowercase;
	font-variant: small-caps;
	
}

h5 {
font-weight: bold;
}

.right {
	padding-left: 20px;
}

.right h1{
	font-family: bebasregular;
	font-size: 1.5em;
	color:white;
	background-color:rgb(29, 153, 121);
	padding-left:10px;
	padding-top: 5px;
}


.right h1:first-child{

	margin-top: 0;
}

.left {
	padding-right: 20px;
	border-right:2px grey dotted;
}

.left h3{
	border-bottom: 2px grey dotted ;
}



footer p {
	margin-top: 2em;
	font-weight: bold;
	text-align: center;
}