
a {
color: #45b984;
}


body {
	font-size: 1.8em;
	background: #fff;
	color: #474646;
	padding: 0;
	margin: 0;
	font-family: 'Dosis', sans-serif;
	line-height: 1;
	position: relative;
	cursor: default;
	line-height: 1.9;
}


.navigation-wrapper{
	margin-bottom: 2em;
}

.mainNav {
	background-color: #28ca80;
	margin-top: 2em;
	overflow: hidden;
	float: right;
}
.mainNav ul {
	list-style: none;
}

.mainNav li{
	float:left;
	margin-right: 2em;
}

.mainNav li:last-child {
	margin-right: 0;
}

.mainNav li a{
	font-size: 1.1em;
	color: white;
	letter-spacing: .1em;
}

.mainNav li a:active {
	font-weight: bold;
}

.header-wrapper a.btn {
	float: left;
}

.jumbotron {
	background-color: #28ca80;
	padding-top: 1.5em;
	color: white;
}

.jumbotron h1{
	text-align: center;
	font-size: 2.5em;
}

header{
	margin:0 auto;
	background-color: #28ca80;
}

h1 {
	
	font-weight: normal;
	color: white;
	text-transform: uppercase;
}

header h2{
	font-weight: normal;
	margin-bottom: 1em;
}

header .btn, .header-wrapper .btn,.post .btn{
		background-color: #34dd90;
		font-size: 1em;
		padding-left: 1.5em;
		padding-right: 1.5em;
		color: white;
}

.post .btn {
background: #28ca80;
}
.header-wrapper {
	padding-top: 3em;
}

.post {
	margin: 3em 0;
}

.post img {
	display: inline-block;
	vertical-align: middle;
	float: left;
	margin-right: 2em;
	border: 7px solid #f5f5f5;
}

.post h2 a {
	color: #474646;
	text-transform: uppercase;
}

.header-wrapper {
	background: #28ca80;
}

.wrapper h1{
	font-size: 2.5em;
	letter-spacing: .1em;
}
.header-wrapper h3 {
	margin-bottom: 1.5em;
	color: white;
	font-family: 'Dosis', sans-serif;
	font-size: 1.375em;
	text-transform: uppercase;
	letter-spacing: .1em;
}

.header-wrapper h4 {
	margin: 1.5em 0;
	font-size: 1.5em;
	padding: 1em 0;
	font-family: 'Dosis', sans-serif;
	text-transform: none;
	letter-spacing: .1em;
	color: white;
}

.header-wrapper .mainNav {
	margin-top: 0;
}

p {
	margin-bottom: 1.5em;
}
.mainContent, aside p{
	
	letter-spacing: 1px;
	word-spacing: .08em;
}

aside p{
	font-size: .9em;
}

aside img {
	margin:0 auto;
}

.skills {
	margin: 2.5em auto;
}

.skills p {
	font-weight: normal;
	margin-bottom: 0;

}

.skills > p {
	padding-bottom:10px;
	text-transform: uppercase;
	font-weight: bold;
}


footer {
	background: #fafafa;
}

footer ul {
	list-style: none
}

footer li {}



footer p {
	margin-bottom: 5em 0;
}
.myLinks li {
	margin-bottom: 1em;
}


footer img {
	width: 150px;
	height: 40px;
}
footer p {
	line-height: 150px;
	text-align: center;

}

.myproject {
	margin-top: 3em;
}

.myproject img {
	border: 7px solid #f5f5f5;
	display: block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

	.aside-btn {
		text-align: center;
	} 





@media (max-width: 500px) {
	
	.mainNav {
		padding-bottom: 1.5em;
		border: 0;
		background-color: #34dd90;
		display: block;
		float: none;

	}
	.mainNav ul {
		width: 100%;
		overflow: hidden;
		padding-left: 0;

	}

	.mainNav ul li {
		width: 30%;
		margin-right: 3%;
		margin-left: 0;
		padding: 0;
	}
	.mainNav ul li a {
		
		background-color: #28ca80;
		border: 0;
		box-shadow: none;
		color: white;
		font-size: 1em;
		text-align: center;
		-moz-border-radius: 3px / 3px;
		-webkit-border-radius: 3px 3px;
		border-radius: 3px / 3px;
		width: 100%;
		font-size: 80% !important;
		font-weight: bold;
		display: block;
		padding: 0.5em;
	}


	.header-wrapper a.btn {
		float: none;
		background: #28ca80;
	}

	.jumbotron h1, .wrapper h1 {
		text-align: center;
		font-size: 1.6em

	}

	.wrapper h3 {
		text-align: center;
	}

	.wrapper h4 {
		text-align: center;
		font-size: 1em;
		line-height: 1.2em;
	}

	.header-wrapper {
		background: #34dd90;
	}
	.header-wrapper p{
		
		float: none;
		width: 100%;	
	}
	
	.post a.read-more, aside a.btn {
		width: 100%;
		margin-top: 0.5em;
	}



	.post {
		font-size: 0.9em;
	}

	.post img {
		margin: 0 auto 3em auto !important;
		float: none !important;
		display: block;
		width: 40%;
	}


	.post p, .mainContent p, aside p{
		text-align: center;
		margin: 0;
	}

	h2,.post h2 {
		text-align: center;
		font-size: 1.2em;
	}

		

}