
a {
color: #45b984;
}


body{
	font-size: 1.6em;
	background: #fff;
	color: #474646;
	padding: 0;
	margin: 0;
	font-family: Arial, "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	position: relative;
	cursor: default;
	line-height: 1.9;
}



nav {

}

.jumbotron {
	background-color: #28ca80;
	padding-top: 1.5em;
	color: white;
}


header{
	margin:0 auto;
	background-color: #28ca80;
}

header h1 {
	text-align: center;
	font-weight: normal;
}

header h2{
	font-weight: normal;
}

p {
	margin-bottom: 1.5em;
}
.mainContent, aside p{
	
	letter-spacing: 1px;
	word-spacing: .08em;
}

aside p{
	font-size: .9em;
}

aside img {
	margin:0 auto;
}

.skills {
	margin: 2.5em auto;
}

.skills p {
	font-weight: normal;
	margin-bottom: 0;

}

.skills > p {
	padding-bottom:10px;
	text-transform: uppercase;
	font-weight: bold;
}


footer {
	background: #fafafa;;
}


